@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.formulario {
    margin-top: 20px;
    display: block;
    font-size: 25px;
    text-align: center;
}

.formulario form {
    margin-left: 30%;
    margin-right: 30%;
    padding: 10px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #37ef;
    border-radius: 2rem;
    filter: drop-shadow(1px 3px 3px);
    color: #eee;
}

.input input {
    font-size: 20px;
    border-radius: 1rem;
    border: none;
    background-color: #eee;
    border: 2px solid #000;
    margin-left: 10px;
    padding: 10px;
}

.formulario button {
    margin-top: 20px;
    font-size: 25px;
    padding: 7px;
    background-color: #000;
    color: #eee;
    border-radius: 5rem;
    cursor: pointer;
}

.formulario button:hover {
    background-color: #37ef;
    color: #f1f1f1;
    filter: drop-shadow(1px 5px 1px);
    transition: 0.6s;
}

#mostrarcurso {
    color: #eee;
    background-color: green;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    margin-top: 15px;
    font-size: 35px;
    transition: 1s;
}